---
---
@import "{{ site.theme }}";

nav ul{
    display:flex;
    list-style: none;
    justify-content: center;
    padding-left:0;
}

h1{
    color:brown;
}

a{
    color:black;
}

body{
   background-color:black;
   color: white;
}

header {
    background-image:url("/portfolio/assets/img/back.png");
    background-repeat:no-repeat;
    background-size:auto;
    }