---
---
@import "{{ site.theme }}";

nav ul{
    display:flex;
    list-style: none;
    justify-content: center;
    padding-left:0;
    align-content: flex-end;
}

h1{
    color:brown;
}

h2{
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.main-content h2{
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.main-content a{
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

main {
   background-color:white;
}

main a {
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

header {
    background-image:url("/portfolio/assets/img/back2-02.png");
    background-repeat:no-repeat;
    background-size:cover;
    text-align: center;
    height:300px;
    }

    header a {
        color:white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
    }