---
---
@import "{{ site.theme }}";

nav ul{
    display:flex;
    list-style: none;
    justify-content: center;
    padding-left:0;
    align-content: flex-end;
}

.main-content h2{
   align-items: center; 
}

h1{
    color:black;
}

h2{
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h3 {
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h4 {
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}


.main-content h2{
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

p {
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

main {
   background-color:white;
}


header {
    background-image:url("/portfolio/assets/img/back2-02.png");
    background-repeat:no-repeat;
    background-size:cover;
    text-align: center;
    height:300px;
    }

    header a {
        color:white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
    }

    .experience {
        display: flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-bottom: solid 1px #ccc;
        padding-bottom: 1rem;
        align-items: center;
    }
    
    .pics{
        /*margin-right:3rem;*/
    }
    
    .pic{
        width: 150px;
        height: 150px;
    }

    footer{
        align-items: center;
    }